<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="fr.unice.aap"
      android:versionCode="1"
      android:versionName="1.0">
    <application android:icon="@drawable/icon" android:label="@string/app_name">
        <activity android:name="fr.unice.aap.AAP"
				  android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
		<activity android:name="fr.unice.aap.musics.MusicListActivity" android:theme="@android:style/Theme.NoTitleBar.Fullscreen"/>
		<activity android:name="fr.unice.aap.musics.AllSongsListActivity" android:theme="@android:style/Theme.NoTitleBar.Fullscreen"/>
		<activity android:name="fr.unice.aap.musics.ArtistsListActivity" android:theme="@android:style/Theme.NoTitleBar.Fullscreen"/>
		<activity android:name="fr.unice.aap.musics.AlbumsListActivity" android:theme="@android:style/Theme.NoTitleBar.Fullscreen"/>
		<activity android:name="fr.unice.aap.musics.GenresListActivity" android:theme="@android:style/Theme.NoTitleBar.Fullscreen"/>
 		<activity android:name=".EqualizerActivity" android:theme="@android:style/Theme.NoTitleBar.Fullscreen"/>
 		<activity android:name="fr.unice.aap.FileExplorerActivity" android:theme="@android:style/Theme.NoTitleBar.Fullscreen"/>
    </application>
	<uses-sdk android:minSdkVersion="10" android:targetSdkVersion="10" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission."/>    
    <uses-permission android:name="android.permission.INTERNET" />
</manifest> 