<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="fr.unice.aap"
      android:versionCode="1"
      android:versionName="1.0">
    <application android:icon="@drawable/icon" android:label="@string/app_name">
        <activity android:name="fr.unice.aap.AAP"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="fr.unice.aap.musics.MusicListActivity" />
        <activity android:name="fr.unice.aap.musics.AllSongsListActivity" />
		<activity android:name="fr.unice.aap.musics.ArtistsListActivity" />
		<activity android:name="fr.unice.aap.musics.AlbumsListActivity" />
		<activity android:name="fr.unice.aap.musics.GenresListActivity" />
    </application>
    <uses-sdk android:minSdkVersion="10" android:targetSdkVersion="10" />
</manifest>